# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab_03_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email

PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [3]:
url = 'https://github.com/Stan-Pugsley/is_4487_base/blob/main/Labs/DataSets/superstore_retail_orders.csv?raw=true'
df = pd.read_csv(url, on_bad_lines='skip')
print(df.head())
print(df.info())
print(df.describe())

   order_id  order_date order_year_month  customer_name               city  \
0     51188  2023-07-01          2023-07  Audrey Blanco  North Cherylmouth
1     51187  2023-07-01          2023-07    Isaac Allen         Traceyland
2     51199  2023-07-02          2023-07     Ian Morgan          Dylanberg
3     51241  2023-07-04          2023-07     Alexa Bell     Lake Tracytown
4     51297  2023-07-08          2023-07     Casey Diaz        Byrdchester

  state_province                    email order_type  quantity  \
0  New Hampshire  audrey_blanco@email.com     Retail       3.0
1  West Virginia    isaac_allen@email.com     Online       4.0
2   South Dakota     ian_morgan@email.com     Online       5.0
3      Wisconsin     alexa_bell@email.com     Online       1.0
4    Mississippi     casey_diaz@email.com     Online       1.0

                                        product_name product_line  \
0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
1  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
2  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
3  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile
4  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...       Mobile

   product_price product_status
0         649.99         Active
1         649.99         Active
2         649.99         Active
3         649.99         Active
4         649.99         Active
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56043 entries, 0 to 56042
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          56043 non-null  int64
 1   order_date        56011 non-null  object
 2   order_year_month  56011 non-null  object
 3   customer_name     56043 non-null  object
 4   city              55569 non-null  object
 5   state_province    55569 non-null  object
 6   email             56043 non-null  object
 7   order_type        56043 non-null  object
 8   quantity          56004 non-null  float64
 9   product_name      56043 non-null  object
 10  product_line      56043 non-null  object
 11  product_price     56043 non-null  float64
 12  product_status    56043 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 5.6+ MB
None
           order_id       quantity  product_price
count  56043.000000   56004.000000   56043.000000
mean   61668.410578       3.348582    6198.309433
std     7508.142486     422.654112   35784.965255
min    45079.000000       1.000000       2.290000
25%    55644.500000       1.000000       7.950000
50%    61870.000000       1.000000     475.600000
75%    68097.000000       2.000000     914.620000
max    74147.000000  100000.000000  235481.000000

## Prepare Data

➡️ Assignment Tasks
- Create a "revenue" variable and make sure it is a numeric datatype
- Remove rows with empty (NULL) values
- Locate outliers in at least two of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [10]:
# Create the 'revenue' variable by multiplying 'quantity' and 'product_price'
df['revenue'] = df['quantity'] * df['product_price']

# Ensure 'revenue' is numeric
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')

# Verify the new column
print(df[['quantity', 'product_price', 'revenue']].head())
print("Data type of 'revenue':", df['revenue'].dtype)

   quantity  product_price  revenue
0       3.0         649.99  1949.97
1       4.0         649.99  2599.96
2       5.0         649.99  3249.95
3       1.0         649.99   649.99
4       1.0         649.99   649.99
Data type of 'revenue': float64

In [11]:
# Remove rows with NULL values
df = df.dropna()

# Verify there are no NULL values left
print("Number of NULL values after dropping rows:")
print(df.isnull().sum())

# Display the shape of the cleaned dataset
print(f"Shape of the dataset after removing NULL values: {df.shape}")

Number of NULL values after dropping rows:
order_id            0
order_date          0
order_year_month    0
customer_name       0
city                0
state_province      0
email               0
order_type          0
quantity            0
product_name        0
product_line        0
product_price       0
product_status      0
revenue             0
dtype: int64
Shape of the dataset after removing NULL values: (55498, 14)

In [15]:
# Function to detect outliers using IQR
def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)  # First quartile (25th percentile)
    Q3 = data[column].quantile(0.75)  # Third quartile (75th percentile)
    IQR = Q3 - Q1  # Interquartile Range
    lower_bound = Q1 - 1.5 * IQR  # Lower bound for outliers
    upper_bound = Q3 + 1.5 * IQR  # Upper bound for outliers
    return data[(data[column] < lower_bound) | (data[column] > upper_bound)], lower_bound, upper_bound

# Detect and print outliers for 'quantity'
outliers_quantity, lower_quantity, upper_quantity = detect_outliers_iqr(df, 'quantity')
print("Outliers in Quantity:")
print(outliers_quantity)

# Detect and print outliers for 'product_price'
outliers_price, lower_price, upper_price = detect_outliers_iqr(df, 'product_price')
print("Outliers in Product Price:")
print(outliers_price)

# Filter out mistakes (optional based on domain knowledge)
df_cleaned = df[
    (df['quantity'] >= lower_quantity) & (df['quantity'] <= upper_quantity) &
    (df['product_price'] >= lower_price) & (df['product_price'] <= upper_price)
]

# Keep exceptional cases separately for review
exceptional_cases = df[
    (df['quantity'] > upper_quantity) |
    (df['product_price'] > upper_price)
]

print(f"Cleaned Dataset Shape: {df_cleaned.shape}")
print("Exceptional Cases (Kept for Review):")
print(exceptional_cases)

Outliers in Quantity:
       order_id  order_date order_year_month     customer_name  \
1         51187  2023-07-01          2023-07       Isaac Allen
2         51199  2023-07-02          2023-07        Ian Morgan
33727     66374  2024-03-18          2024-03     David Jenkins
33822     66829  2024-03-25          2024-03     Destiny Smith
44626     45087  2022-01-03          2022-01     Joseph Martin
45530     45086  2022-01-02          2022-01    Jacquelyn Diaz
45752     45706  2022-03-20          2022-03        David Diaz
45857     45085  2022-01-02          2022-01  Reginald Alvarez
55308     66470  2024-03-19          2024-03         Lisa Wang

                    city state_province                       email  \
1             Traceyland  West Virginia       isaac_allen@email.com
2              Dylanberg   South Dakota        ian_morgan@email.com
33727     Port Christina          Idaho     david_jenkins@email.com
33822  New Hannahborough        Indiana     destiny_smith@email.com
44626      Rogersborough         Nevada     joseph_martin@email.com
45530     Whitneyborough  West Virginia    jacquelyn_diaz@email.com
45752    New Christopher         Hawaii        david_diaz@email.com
45857     Lake Kellyland     Washington  reginald_alvarez@email.com
55308      Baileychester   South Dakota         lisa_wang@email.com

      order_type  quantity                                       product_name  \
1         Online       4.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
2         Online       5.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
33727     Retail     200.0                              Water Bottle - 30 oz.
33822     Online  100000.0                              Water Bottle - 30 oz.
44626     Retail     600.0                                Projector Black, 44
45530     Retail     100.0                                      Gaming Laptop
45752     Retail      20.0                                Gaming Laptop Matte
45857     Retail     500.0                               Gaming Laptop Silver
55308     Retail    2000.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...

      product_line  product_price product_status     revenue
1           Mobile         649.99         Active     2599.96
2           Mobile         649.99         Active     3249.95
33727  Accessories           4.99         Active      998.00
33822  Accessories           4.99         Active   499000.00
44626    Projector        3374.99         Active  2024994.00
45530       Laptop        3578.27         Active   357827.00
45752       Laptop        3578.27         Active    71565.40
45857       Laptop        3578.27         Active  1789135.00
55308  Electronics         914.62         Active  1829240.00
Outliers in Product Price:
       order_id  order_date order_year_month     customer_name  \
1342      51487  2023-07-20          2023-07     Hailey Barnes
1343      51551  2023-07-24          2023-07       Ramon Huang
1344      52625  2023-08-16          2023-08  George Louverdis
1345      52997  2023-08-23          2023-08     Amber Collins
1346      53820  2023-09-04          2023-09       Dylan Davis
...         ...         ...              ...               ...
46337     46576  2022-06-27          2022-06        Alisha She
46338     46583  2022-06-27          2022-06     Jerome Suarez
46339     46580  2022-06-27          2022-06      Ruben Subram
46340     46591  2022-06-29          2022-06   Samantha Taylor
46341     46599  2022-06-30          2022-06     Sierra Parker

                 city state_province                       email order_type  \
1342      Baileyburgh         Kansas     hailey_barnes@email.com     Online
1343     Jenniferbury       Michigan       ramon_huang@email.com     Online
1344    Mccormickside  Massachusetts  george_louverdis@email.com     Online
1345         Taratown        Georgia     amber_collins@email.com     Online
1346        Andrewton       Kentucky       dylan_davis@email.com     Retail
...               ...            ...                         ...        ...
46337     North Tammy        Wyoming        alisha_she@email.com     Retail
46338    East Michael       Oklahoma     jerome_suarez@email.com     Retail
46339        Hillport       Kentucky      ruben_subram@email.com     Retail
46340  Salt Lake City           Utah   samantha_taylor@email.com     Retail
46341       Adamsfort       Oklahoma     sierra_parker@email.com     Retail

       quantity         product_name product_line  product_price  \
1342        1.0           Sony a7 IV      Cameras        2498.00
1343        1.0           Sony a7 IV      Cameras        2498.00
1344        1.0           Sony a7 IV      Cameras        2498.00
1345        1.0           Sony a7 IV      Cameras        2498.00
1346        1.0           Sony a7 IV      Cameras        2498.00
...         ...                  ...          ...            ...
46337       1.0  Gaming Laptop Black       Laptop        3578.27
46338       1.0  Gaming Laptop Black       Laptop        3578.27
46339       1.0  Gaming Laptop Black       Laptop        3578.27
46340       1.0  Gaming Laptop Black       Laptop        3578.27
46341       1.0  Gaming Laptop Black       Laptop        3578.27

      product_status  revenue
1342          Active  2498.00
1343          Active  2498.00
1344          Active  2498.00
1345          Active  2498.00
1346          Active  2498.00
...              ...      ...
46337         Active  3578.27
46338         Active  3578.27
46339         Active  3578.27
46340         Active  3578.27
46341         Active  3578.27

[4044 rows x 14 columns]
Cleaned Dataset Shape: (51449, 14)
Exceptional Cases (Kept for Review):
       order_id  order_date order_year_month     customer_name  \
1         51187  2023-07-01          2023-07       Isaac Allen
2         51199  2023-07-02          2023-07        Ian Morgan
1342      51487  2023-07-20          2023-07     Hailey Barnes
1343      51551  2023-07-24          2023-07       Ramon Huang
1344      52625  2023-08-16          2023-08  George Louverdis
...         ...         ...              ...               ...
46338     46583  2022-06-27          2022-06     Jerome Suarez
46339     46580  2022-06-27          2022-06      Ruben Subram
46340     46591  2022-06-29          2022-06   Samantha Taylor
46341     46599  2022-06-30          2022-06     Sierra Parker
55308     66470  2024-03-19          2024-03         Lisa Wang

                 city state_province                       email order_type  \
1          Traceyland  West Virginia       isaac_allen@email.com     Online
2           Dylanberg   South Dakota        ian_morgan@email.com     Online
1342      Baileyburgh         Kansas     hailey_barnes@email.com     Online
1343     Jenniferbury       Michigan       ramon_huang@email.com     Online
1344    Mccormickside  Massachusetts  george_louverdis@email.com     Online
...               ...            ...                         ...        ...
46338    East Michael       Oklahoma     jerome_suarez@email.com     Retail
46339        Hillport       Kentucky      ruben_subram@email.com     Retail
46340  Salt Lake City           Utah   samantha_taylor@email.com     Retail
46341       Adamsfort       Oklahoma     sierra_parker@email.com     Retail
55308   Baileychester   South Dakota         lisa_wang@email.com     Retail

       quantity                                       product_name  \
1           4.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
2           5.0  Apple iPhone XR (Yellow, 256 GB) (Includes Ear...
1342        1.0                                         Sony a7 IV
1343        1.0                                         Sony a7 IV
1344        1.0                                         Sony a7 IV
...         ...                                                ...
46338       1.0                                Gaming Laptop Black
46339       1.0                                Gaming Laptop Black
46340       1.0                                Gaming Laptop Black
46341       1.0                                Gaming Laptop Black
55308    2000.0  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...

      product_line  product_price product_status     revenue
1           Mobile         649.99         Active     2599.96
2           Mobile         649.99         Active     3249.95
1342       Cameras        2498.00         Active     2498.00
1343       Cameras        2498.00         Active     2498.00
1344       Cameras        2498.00         Active     2498.00
...            ...            ...            ...         ...
46338       Laptop        3578.27         Active     3578.27
46339       Laptop        3578.27         Active     3578.27
46340       Laptop        3578.27         Active     3578.27
46341       Laptop        3578.27         Active     3578.27
55308  Electronics         914.62         Active  1829240.00

[4049 rows x 14 columns]

## Summarize Data

➡️ Assignment Tasks
- Display the average price per product line
- Display the total revenue for all months

In [12]:
#average price
# Group by 'product_line' and calculate the average price
average_price_per_product_line = df.groupby('product_line')['product_price'].mean()

# Display the result
print("Average Price per Product Line:")
print(average_price_per_product_line)

Average Price per Product Line:
product_line
Accessories          11.531647
Bikes              1821.807035
Cameras             779.174673
Clothing          48943.949314
Electronics         693.973186
Laptop             3578.270000
Mobile             1013.581162
OfficeProducts        8.640000
Projector          3386.564074
Name: product_price, dtype: float64

In [13]:
#total revenue
# Ensure the revenue column exists
if 'revenue' not in df.columns:
    df['revenue'] = df['quantity'] * df['product_price']

# Group by 'order_year_month' and calculate the total revenue
total_revenue_per_month = df.groupby('order_year_month')['revenue'].sum()

# Display the result
print("Total Revenue for All Months:")
print(total_revenue_per_month)

Total Revenue for All Months:
order_year_month
1922-06      979636.00
2022-01     4746737.16
2022-02      500428.41
2022-03      708048.28
2022-04      653364.08
2022-05      659325.94
2022-06      637784.29
2022-07      486114.93
2022-08      533572.11
2022-09      341266.49
2022-10      404276.65
2022-11      306453.60
2022-12      560965.27
2023-01      432425.86
2023-02      459752.28
2023-03      469912.92
2023-04      492886.16
2023-05      539365.40
2023-06      529704.69
2023-07    10495300.14
2023-08    47232524.31
2023-09    50614963.75
2023-10    53117217.85
2023-11    50196883.14
2023-12    59182870.87
2024-01    57744443.81
2024-02    57700422.24
2024-03    57460241.29
2024-04    63213208.20
2024-05    73469869.94
2024-06    67964592.02
2029-06          19.55
2029-07      517505.48
2029-08          39.94
2421-09       32051.29
Name: revenue, dtype: float64